html, body {
    margin: 0;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #33383d;
    padding: 16px;
    height: calc(100% - 32px);
    gap: 16px;
}