#pexip-self-view-container {
    position: absolute;
    width: 25%;
    transform: rotateY(180deg);
    min-width: 200px;
    max-width: 300px;
   
}

.upper-right-corner{
    top: 16px;
    right: 16px;
}