video {
    border-radius: 8px;
    min-height: 0;
    max-width: 100%;
    pointer-events: none;
}

video.secondary {
    flex: 0 99999 auto;
    min-height: 108px;
    cursor: pointer;
    order: -1;
    pointer-events: initial;
}