video {
    border-radius: 8px;
    min-height: 0;
    max-width: 100%;
    pointer-events: none;
    aspect-ratio: 16 / 9;
    object-fit: contain;
    width: 100%;
}

video.secondary {
    flex: 0 99999 auto;
    min-height: 108px;
    cursor: pointer;
    order: -1;
    pointer-events: initial;
    min-height: 15%;
}